<div class="detailSection row-fluid">
  <span>To get started, please fill out the below fields and click <strong>Continue</strong></span>
  <div class=" form-horizontal firstForm">

    <div class="control-group">
      <label class="control-label">Region Deployment</label>
      <div class="controls">
        <% DeploymentRegion.all.each do |region| %>
          <label class="checkbox inline">
            <%= check_box_tag "db_instance[deployment_region_ids][]", region.id, (session[:db_params].present? ? session[:db_params]["deployment_region_ids"].include?(region.id.to_s) : false) %>
            <%= region.name %>
          </label>
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">No. of CPUs</label>
      <div class="controls flatSlider" id="cpu" >
        <%= f.select :cpu_count, CpuOptions %>
        <div class="cpuNum">
          <% CpuOptions.each_with_index do |option, i|%>
            <small class='<%= i == CpuOptions.count ? "lstchild" : ""%>'><%= option %></small>
          <% end %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Amount of RAM</label>
      <div class="controls flatSlider" id="ram" >
        <%= f.select :ram_amount, RamOptions %>
        <div class="ramNum">
          <% RamOptions.each_with_index do |option, i|%>
            <small class='<%= i == RamOptions.count ? "lstchild" : ""%>'><%= option %> GB</small>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="detailSection mrgnTop row-fluid ">
  <span><strong>Provide the details for your GenieDB Database Instance</strong></span>
  <div class="form-horizontal secForm">

    <div class="control-group">
      <label class="control-label">Allocated Storage <a href="javascript:void(0)" rel="tooltip" title="" data-original-title="(Minimum: 5GB, Maximum: 3072 GB) Higher allocated storage may improve IOPS performance" class="question">?</a></label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on">GB</span>
          <%= f.text_field :allocated_storage, :id => "appendedPrependedInput", :class => "span2" %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Use Provisioned IOPS </label>
      <div class="controls">
        <label class="checkbox ">
          <%= f.check_box :provision_iops %>
        </label>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label">DB Instance Identifier <a href="javascript:void(0)"  rel="tooltip" title="e.g. mydbinstance" class="question">?</a></label>
      <div class="controls">
        <%= f.text_field :identifier %>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label">Master Username <a href="javascript:void(0)" rel="tooltip" title="e.g. awsuser" class="question">?</a></label>
      <div class="controls">
        <%= f.text_field :master_username %>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label">Master Password <a href="javascript:void(0)" rel="tooltip" title="e.g. mypassword" class="question">?</a></label>
      <div class="controls">
        <%= f.password_field :master_password %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Database Name <a href="javascript:void(0)" rel="tooltip" title="Note: if no database name is specified then no initial MYSQL database will be created on the DB.
          Instance." class="question">?</a></label>
      <div class="controls">
        <%= f.text_field :db_name %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Database Port </label>
      <div class="controls">
        <%= f.select :db_port, PortOptions%>
      </div>
    </div>

  </div>
</div>