<div class="detailSection row-fluid">
  <span>To get started, please fill out the below fields and click <strong>Continue</strong></span>

  <span><strong>Region Deployment</strong></span>
  <div class="form-horizontal firstForm">
    <% DeploymentRegion.all.each do |region| %>
      <div class="control-group">
        <label class="control-label"><%= region.name %></label>
        <div class="controls">
          <%= text_field_tag "db_instance[deployment_region_ids][#{region.id}]",
                           (session[:db_params].present? ? session[:db_params]["deployment_region_ids"][region.id] : 0 rescue 0),
                           :size => 2,
                           :class => "input-small" %>
        </div>
      </div>
    <% end %>
  </div>

  <span><strong>Provide the per-node resource allocations</strong></span>
  <div class="form-horizontal firstForm">
    <div class="control-group flatSlider">
      <label class="control-label">No. of CPUs</label>
      <div class="controls" id="cpu" >
        <%= f.select :cpu_count, CpuOptions %>
        <div class="cpuNum">
          <% CpuOptions.each_with_index do |option, i|%>
            <small class='<%= (i+1) == CpuOptions.count ? "lstchild" : ""%>'><%= option %></small>
          <% end %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Amount of RAM (GB)</label>
      <div class="controls flatSlider" id="ram" >
        <%= f.select :ram_amount, RamOptions %>
        <div class="cpuNum">
          <% RamOptions.each_with_index do |option, i|%>
            <small class="<%= (i+1) == RamOptions.count ? 'lstchild' : ''%>"><%= option %></small>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <span><strong>Provide the details for your GenieDB Database Instance</strong></span>
  <div class="form-horizontal secForm">

    <div class="control-group">
      <label class="control-label">Allocated Storage <a href="javascript:void(0)" rel="tooltip" title="" data-original-title="(Minimum: 5GB, Maximum: 3072 GB) Higher allocated storage may improve IOPS performance" class="question">?</a></label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on">GB</span>
          <%= f.text_field :allocated_storage, :value => DefaultAllocatedStorage, :id => "appendedPrependedInput", :class => "span2" %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Use Provisioned IOPS </label>
      <div class="controls">
        <label class="checkbox ">
          <%= f.check_box :provision_iops %>
        </label>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label">DB Instance Identifier <a href="javascript:void(0)"  rel="tooltip" title="e.g. mydbinstance" class="question">?</a></label>
      <div class="controls">
        <%= f.text_field :identifier %>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label">Master Username <a href="javascript:void(0)" rel="tooltip" title="e.g. awsuser" class="question">?</a></label>
      <div class="controls">
        <%= f.text_field :master_username %>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label">Master Password <a href="javascript:void(0)" rel="tooltip" title="e.g. mypassword" class="question">?</a></label>
      <div class="controls">
        <%= f.password_field :master_password %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Database Name <a href="javascript:void(0)" rel="tooltip" title="Note: if no database name is specified then no initial MYSQL database will be created on the DB.
          Instance." class="question">?</a></label>
      <div class="controls">
        <%= f.text_field :db_name %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Database Port </label>
      <div class="controls">
        <%= f.text_field :db_port, :value => DefaultPort%>
      </div>
    </div>

  </div>
</div>
