<div class="detailSection row-fluid confirm">
  <span>Review your instance and click <strong>Save</strong></span>

  <div class=" form-horizontal firstForm">

    <div class="control-group">
      <label class="control-label">Region Deployment</label>

      <div class="controls">
        <%= @db_instance.deployment_regions.collect(&:name).to_sentence %>
      </div>
    </div>
    <hr>
    <div class="control-group">
      <label class="control-label">No. of CPUs</label>

      <div class="controls flatSlider" id="cpu">
        <%= @db_instance.cpu_count %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Amount of RAM</label>

      <div class="controls flatSlider" id="ram">
        <%= @db_instance.ram_amount %>
      </div>
    </div>

    <hr>
    <div class="control-group">
      <label class="control-label">Allocated Storage</label>

      <div class="controls">
        <%= @db_instance.allocated_storage %>GB
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Use Provisioned IOPS</label>

      <div class="controls">
        <label class="checkbox ">
          <%= @db_instance.provision_iops ? "Yes" : "No" %>
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">DB Instance Identifier</label>

      <div class="controls">
        <%= @db_instance.identifier %>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label">Master Username</label>

      <div class="controls">
        <%= @db_instance.master_username %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Database Name</label>

      <div class="controls">
        <%= @db_instance.db_name %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Database Port</label>

      <div class="controls">
        <%= @db_instance.db_port %>
      </div>
    </div>

    <hr>

  </div>

  <div class="form-horizontal secForm">

    <div class="control-group">
      <label class="control-label">Enabled Automatic Backups</label>

      <div class="controls">
        <%= @db_instance.enable_automatic_backup ? "Yes" : "No" %>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label">Backup Retention Period</label>

      <div class="controls">
        <%= @db_instance.backup_retention_period %> Days
      </div>
    </div>

    <div class="control-group backup_window_wrapper">
      <label class="control-label">Backup Window</label>

      <div class="controls">
        <% if @db_instance.daily_backup_start_time.present? and @db_instance.daily_backup_duration.present? %>
          Daily at <%= @db_instance.daily_backup_start_time.strftime("%H:%M") %> for <%= @db_instance.daily_backup_duration.to_i %> hours
        <% end %>
      </div>
    </div>
  </div>

</div>