<div class="detailSection row-fluid">
  <span>Provide the details below to manage your db instance and click <strong>Continue</strong></span>

  <div class=" form-horizontal firstForm">
    <div class="control-group">
      <label class="control-label">Enabled Automatic Backups<a href="javascript:void(0)" rel="tooltip" title="Please note that automated backups
      are currently Supported for InnoDB Storage engine only. If you are using MYISAM, refer to details here" class="question">?</a></label>

      <div class="controls">
        <label class="radio inline">
          <%= f.radio_button :enable_automatic_backup, "Yes", {:checked => session[:db_params].present? ? session[:db_params]["enable_automatic_backup"] == "Yes" ? true : false : false } %>Yes
        </label>
        <label class="radio inline">
          <%= f.radio_button :enable_automatic_backup, "No", {:checked => session[:db_params].present? ? session[:db_params]["enable_automatic_backup"] == "No" ? true : false : false } %>No
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Backup Retention Period<a href="javascript:void(0)" rel="tooltip" title="The daily
      time range during which automated backups are created if automated backups are enabled" class="question">?</a></label>
      <div class="controls">
        <%= f.select :backup_retention_period, options_for_select(BackUpRetentionPeriodOptions, @db_instance.backup_retention_period),{} ,{:class => "smallSelect"} %>Days
      </div>
    </div>

    <div class="control-group backup_window_wrapper">
      <label class="control-label">Backup Window<a href="javascript:void(0)" rel="tooltip" title="The daily time range during which automated backups
      are created if automated backups are enabled" class="question">?</a></label>

      <div class="controls">
        <label class="radio inline">
          <%= f.radio_button :backup_window, "select_window" %>Select Window
        </label>
        <label class="radio inline">
          <%= f.radio_button :backup_window, "no_preference" %>No Preference
        </label>


        <div id="backup_window_container" class="hide selectWindow">
          <div class="startTime"><span> Start time</span> <%= f.datetime_select :daily_backup_start_time, :ignore_date => true, :datetime_separator => '' %></div>
          <div class="duration"><span>Duration</span> <%= f.select :daily_backup_duration, options_for_select(BackupDuarationOption, @db_instance.daily_backup_duration.to_i ) %></div>
        </div>
      </div>
    </div>
  </div>

</div>
