<div class="container">
  <div class="innerWrap">
    <h3>Launch your GenieDB Instance</h3>

    <div class="innerDiv row-fluid">
      <div class="topNav">
        <a href="javascript:void(0)" class="<%= return_active_class("basic", @db_instance.current_step) %>"><span class="numValue">1</span>DB Instance Details</a>
        <a href="javascript:void(0)" class="<%= return_active_class("management", @db_instance.current_step) %>"><span class="numValue">2</span>Management Options</a>
        <a href="javascript:void(0)" class="<%= return_active_class("confirmation", @db_instance.current_step) %>"><span class="numValue">3</span>Review</a>
      </div>

      <%= form_for(@db_instance, :validate => true) do |f| %>
        <%= render :partial => "#{@db_instance.current_step}_step", :locals => {:f => f} %>

        <div class="control-group">
          <label class="control-label"></label>

          <div class="controls btnWrap">
            <% unless @db_instance.first_step? %>
              <%= f.submit "Back", :class => "backBtn continueBtn", :name => "back_button" %>
            <% end %>
            <% if @db_instance.last_step? %>
              <%= f.submit "Save", :class => "continueBtn", :id => "step_three" do %>
                <div class="triangle-right"></div>
              <% end %>
            <% else %>
              <%= f.submit "Continue", :class => "continueBtn", :id => "step_two" do %>
                <div class="triangle-right"></div>
              <% end %>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>

<script>
  $(function () {
    var select = $("#db_instance_cpu_count");
    var slider = $("<div id='slider'></div>").insertAfter(select).slider({
      min: 1,
      max: 5,
      range: "min",
      value: select[ 0 ].selectedIndex + 1,
      slide: function (event, ui) {
        select[ 0 ].selectedIndex = ui.value - 1;
      }
    });
    $("#db_instance_cpu_count").change(function () {
      slider.slider("value", this.selectedIndex + 1);
    });
  });

  $(function () {
    var select = $("#db_instance_ram_amount");
    var slider = $("<div id='slider'></div>").insertAfter(select).slider({
      min: 1,
      max: 5,
      range: "min",
      value: select[ 0 ].selectedIndex + 1,
      slide: function (event, ui) {
        select[ 0 ].selectedIndex = ui.value - 1;
      }
    });
    $("#db_instance_ram_amount").change(function () {
      slider.slider("value", this.selectedIndex + 1);
    });
  });
</script>